@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700;800&display=swap');

* {
    font-family: 'Mulish', sans-serif;
}

* {
    max-width: 1200px;
    margin: auto;
}

body {
    /* border: 2px solid red; */
}

/* shared styles start  */
.logo {
    color: #131318;
    font-size: 2rem;
    font-weight: 800;
}

.logo-span {
    color: #FF5400;
    font-size: 2.25rem;
    font-weight: 800;
}

.section-title {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}

.description-style {
    color: #5A5A5D;
}

.btn-primary {
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 800;
    border-radius: 8px;
    border: 0;
    background: #FF5400;
    padding: 15px 35px;
}

/* shared styles end */


/* header styles start  */

.logo-container {
    display: flex;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 40px 80px;
}

nav p {
    background-image: url("Images/bars-solid.svg");
    background-repeat: no-repeat;
    background-color: #fff;
    width: 20px;
    height: 20px;

}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #424247;
    font-size: 1rem;
}

.banner-container {
    background-image: url("Images/Group 13 (1) (1).png");
    width: 870px;
    height: 400px;
    text-shadow: 1px 1px 1px rgb(12, 9, 9);
    border-radius: 16px;
}

.banner-content {
    text-align: center;
    padding-top: 60px;

}


.banner-title {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;

}

.banner-description {
    color: #FFF;
    width: 650px;
    margin-top: 24px;
    margin-bottom: 60px;
}

.banner-option {
    display: flex;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    width: 655px;
    height: 60px;

}

.same-bg {
    display: flex;
    align-items: center;
    gap: 3px;
    color: rgba(19, 19, 24, 0.50);
    border-radius: 8px;
    padding: 10px 20px 10px 20px;
    background: #FFF;
}

.find-now {
    display: flex;
    align-items: center;
    gap: 3px;
    color: #fff;
    border-radius: 8px;
    background: #FF5400;
    padding: 10px 20px 10px 20px;

}

/* header styles end  */


/* main section styles start  */


/* tours styles start  */
.tours-container {
    margin: 6.25rem;
    display: flex;
    justify-content: space-around;
    gap: 3rem;
}

.tours-title {
    margin-bottom: 1.2rem;
}

.tours-container p {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}

.tours-container li {
    margin-top: 0.9rem;
}

.tours-btn {
    margin-top: 1.2rem;
}

.tours-container img {
    width: 400px;
    height: 475px;
}

/* tours styles end  */


/* destination styes start  */

.destination-content {
    text-align: center;
    margin-top: 100px;
}

.destination-description {
    color: rgba(19, 19, 24, 0.70);
    width: 600px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.first-destination-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-bottom: 20px;
}

.medile-destination-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.last-destination-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* destination styes end  */


/* Choose styles start  */

.choose-container {
    /* border: 2px solid red; */
    margin: 6.25rem;
}

.choose-content {
    text-align: center;
}

.choose-content p {
    /* text-align: center; */
    width: 55rem;
    font-size: 1.2rem;
    margin-top: 1.2rem;
    margin-bottom: 2.4rem;
}

.choose-box-container {
    display: flex;
    flex-wrap: wrap;
    /* display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    display: inline;
    align-items: center;
    justify-content: center; */
    gap: 24px;
}

.choose-box {
    border: 2px solid purple;
    border-radius: 16px;
    padding: 20px;
    flex-basis: 437px;
    /* display: block; */
}

.choose-box img {
    width: 60px;
    margin: 0;
}

.choose-box h4 {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
    margin-top: 15px;
    margin-bottom: 10px;
}

.choose-box p {
    color: #5A5A5D;
}

.first-box {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.secound-box {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.last-box {
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

/* Choose styles end  */

/* News section styles start  */
.news-container {
    margin: 100px;
    /* border: 2px solid red; */
    display: flex;
    gap: 20px;

}

.news-content {
    background-color: #FFF;
    border-radius: 16px;
    border: 1px solid #FF5400;
    width: 450px;
    height: 304px;
    padding: 30px;
}

.news-title {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 16px;
}

.news-description {
    margin-bottom: 20px;
}

.news-input {
    display: flex;
    flex-direction: column;
    margin-left: -10px;
    /* text-align: center; */
}

.news-input [type="text"] {
    text-align: center;
    padding: 16px 130px 16px 20px;
    border: 0;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    margin-top: 15px;
}

.news-input [type="submit"] {
    text-align: center;
    color: #FFF;
    font-weight: 800;
    padding:  16px 140px ;
    border: 0;
    border-radius: 8px;
    background: #FF5400;
    margin-top: 15px;
}

.news-banner img {
    width: 545px;
    height: 370px;
}

/* News section styles end  */

/* reviews section styles start  */
.reviews-container{
    /* border: 2px solid purple; */
    margin: 80px 80px;
    text-align: center;
}

.reviews-container h3{
    margin-bottom: 25px;
}

.reviews-box-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.reviews-box{
    /* border: 2px  solid peru; */
    width: 280px;
    height: 300px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: inset 0 0 10px #5c5b5b;
}
.reviews-box img{
    
    width: 100px;
    height: 100px;
    border-radius: 50px;
    padding: 10px;
}
.reviews-box h2{
    font-size: 2rem;
    margin-bottom: 10px;
}
.reviews-box p{
    text-align: justify;
    padding: 10px;
}

.reviews-container button{
    margin-top: 20px;
    margin-bottom: 20px;
}
/* reviews section styles end  */

/* main section styles end  */


/* footer styles start  */
footer {
    text-align: center;
    background: rgba(19, 19, 24, 0.05);
    padding: 100px 280px;
}

.footer-description {
    margin-top: 16px;
    margin-bottom: 30px;

}

footer a {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 50px;
}

footer img {
    width: 30px;
}

.footer-copyright {
    margin-top: 40px;
}

/* footer styles end  */


/* Responsive styles start  */

@media screen and (max-width:600px) {
    html {
        font-size: 10px;
    }

    /* header responsive styles  start*/
    
    .logo-container {
        font-size: 20px;
        /* width: 50%; */
    }

    .logo-container img {
        margin-left: -30px;
        width: 28px;
    }

    nav{
        margin-bottom: 60px;
    }

    nav ul li {
        display: none;
    }

    .banner-container {
        width: 370px;
        height: 400px;
        margin: 0 auto;
        

    }

    .banner-content {
        padding: 0 auto;
        margin: 20px;
    }

    div .banner-content {
        padding: 0;
    }

    .banner-title {
        font-size: 22px;
        padding-top: 20px;
    }

    .banner-description {
        width: auto;
        margin: 20px;
    }

    .banner-option {
        text-align: center;
        display: flex;
        flex-direction: column;
        display: inline;
        max-inline-size: 30px;
    }

    .same-bg {
        margin-bottom: 20px;
    }

    /* header responsive styles  end*/

    /* Tours responsive styles start */
    .tours-container {
        display: flex;
        flex-direction: column;

    }

    .tours-container img {
        width: 100%;
        height: 100%;
    }

    /* Tours responsive styles end */

    /* Destination responsive styles start  */

    .destination-description{
        width: 300px;
    }
  
    .first-destination-box {
        flex-direction: column;
        gap: 10px;
    }
    .first-destination-box img{
        width: 320px;
        height: 156px
        
    }

    .medile-destination-box {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 10px;
        margin-top: -10px;
    }
    .medile-destination-box img{
        width: 320px;
        height: 156px
    }

    .last-destination-box {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: -10px; 
    }
    .last-destination-box img{
        width: 320px;
        height: 156px;
        /* margin-top: 10px; */
    }
    /* Destination responsive styles end  */

     /* choose responsive styles start  */
    .choose-content p{
        text-align: center;
        width: 100%;
    }
     /* choose responsive styles end  */

    /* News responsive styles start  */
    .news-container {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        margin-bottom: 50px;
    }

    .news-content {
        width: 80%;
        margin: 0 auto;
    }

    .news-banner img {
        width: 100%;
    }

    /* News responsive styles end  */

    /* reviews responsive styles start  */

    .reviews-container{
        margin: 0 auto;
    }

    .reviews-box p{
        font-size: 18px;
    }
    /* reviews responsive styles end  */

    /* footer responsive start  */

    footer {
        margin: 10px;
        padding: 0;
    }

    .footer-container h3 {
        padding-top: 20px;
    }

    .footer-icon {
        margin-bottom: 10px;
    }

    .footer-copyright {
        margin-top: 24px;
        padding-bottom: 20px;
    }

    /* footer responsive end  */
}

.hide {
    display: none;
}